<h2>Articles</h2>

<%= form_tag "/articles/show", method: :get do %>
  <%= text_field_tag :nyt, nil, placeholder: "Search Topic of Interest" %>
  <div class="submit"><%= submit_tag "Search NYTimes" %></div>
<% end %>

<div class="article_list">
  <h3>HEALTHCARE:</h3>
  <ul>
  <% @healthcare.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul>


  <h3>GUN CONTROL:</h3>
  <ul>
  <% @guncontrol.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul>


  <h3>ECONOMY:</h3>
  <ul>
  <% @economy.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul>


  <h3>CIVIL RIGHTS:</h3>
  <ul>
  <% @civilrights.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul>


  <h3>EDUCATION:</h3>
  <ul>
  <% @education.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul>
</div>
