<h2><%=image_tag @candidate.img_url%></h2>
<h3><%=@candidate.name%></h3>

<table style="width:100%">
  <tr>
    <td>Party</td>
    <td>Candidacy</td>
    <td>Twitter</td>
  </tr>
  <tr>
    <td><%=@candidate.party%></td>
    <td><%=@candidate.candidacy%></td>
    <td><a href="<%= @candidate.twitter %>"><%= @candidate.twitter_handle %></a></td>
  </tr>
