<h2><%=image_tag @candidate.img_url%></h2>
<h3><%=@candidate.name%></h3>



<table style="width:100%">
  <tr>
    <td>Party</td>
    <td>Candidacy</td>
    <td>Twitter</td>
  </tr>
  <tr>
    <td><%=@candidate.party%></td>
    <td><%=@candidate.candidacy%></td>
    <td><a href="<%= @candidate.twitter %>"><%= @candidate.twitter_handle %></a></td>
  </tr><br><br>


  <h4>HEALTHCARE:</h4>
  <ul>
  <% @healthcare.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
  <h4>GUN CONTROL:</h4>
  <ul>
  <% @guncontrol.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>ECONOMY:</h4>
  <ul>
  <% @economy.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>CIVIL RIGHTS:</h4>
  <ul>
  <% @civilrights.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>EDUCATION:</h4>
  <ul>
  <% @education.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>