
<head>
  <meta charset="utf-8">
  <!-- If you delete this meta tag World War Z will become a reality -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candidate Timeline</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- If you are using the gem version, you need this only -->
  <link rel="stylesheet" href="css/app.css">

  <script src="js/vendor/modernizr.js"></script>

</head>

  <body>
    <div class="topbar">
      <div class="row">
        <div class="small-11 column">
          <ul>
            <li><a href="/">Home</a></li>
            <li><%= link_to 'Candidates', candidates_path %></li>
            <li><%= link_to 'Topics', topics_path %></li>
            <li><%= link_to 'Articles' %></li>
          </ul>
        </div>
        <div class="small-1 column">
          <ul>
            <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
          </ul>
        </div>
      </div>
    </div>
    <%- flash.each do |name, msg| -%>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">
    <div class="row">
  <div class="small-6 columns small-centered">
    <div data-alert class="alert-box info">
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      <a href="#" class="close">&CircleTimes;</a>
    </div>
  </div>
</div>
<%- end -%>

    <%= yield %>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

  </body>
</html>
