<h1>New Candidate</h1>

<ul>
  <% @candidate.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
</ul>

<%= form_for @candidate do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :party %>
    <%= f.text_field :party %>
  </div>
  <div>
    <%= f.label :candidacy %>
    <%= f.text_field :candidacy %>
  </div>
  <div>
    <%= f.label :img_url %>
    <%= f.text_field :img_url %>
  </div>
  <div>
    <%= f.label :twitter %>
    <%= f.text_field :twitter %>
  </div>
  <div>
    <%= f.label :twitter_handle %>
    <%= f.text_field :twitter_handle %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to "Delete Candidate", candidate_path(@candidate), method: :delete %>
