<div class="basic-info">
  <div class="row">
    <div class="small-12 column">
      <h2 class="image"><%=image_tag @candidate.img_url%></h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 column">
      <h3 class="name"><%=@candidate.name%></h3>
    </div>
  </div>
</div>

<table style="width:100%">
  <tr>
    <td>Party</td>
    <td>Candidacy</td>
    <td>Twitter</td>
  </tr>
  <tr>
    <td><%=@candidate.party%></td>
    <td><%=@candidate.candidacy%></td>
    <td><a href="<%= @candidate.twitter %>"><%= @candidate.twitter_handle %></a></td>
  </tr>
</table>
<div class="topics">
  <ul class="tabs" data-tab role="tablist">
    <li class="tab-title active" role="presentational" ><a href="#panel2-1" role="tab" tabindex="0" aria-selected="true" controls="panel2-1">Healthcare</a></li>
    <li class="tab-title" role="presentational" ><a href="#panel2-2" role="tab" tabindex="0"aria-selected="false" controls="panel2-2">Gun Control</a></li>
    <li class="tab-title" role="presentational"><a href="#panel2-3" role="tab" tabindex="0" aria-selected="false" controls="panel2-3">Economy</a></li>
    <li class="tab-title" role="presentational" ><a href="#panel2-4" role="tab" tabindex="0" aria-selected="false" controls="panel2-4">Civil Rights</a></li>
    <li class="tab-title" role="presentational" ><a href="#panel2-5" role="tab" tabindex="0" aria-selected="false" controls="panel2-5">Education</a></li>
  </ul>
  <div class="tabs-content">
    <section role="tabpanel" aria-hidden="false" class="content active" id="panel2-1">
      <ul class="articles">
        <% @healthcare.each do |article| %>
          <li>
            <a href="<%= article.url %>"> <%= article.title %></a>
          </li>
        <% end %>
      </ul>
    </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-2">
      <ul class="articles">
      <% @guncontrol.each do |article| %>
        <li>
          <a href="<%= article.url %>"> <%= article.title %></a>
        </li>
      <% end %>
      </ul>
    </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-3">
      <ul class="articles">
      <% @economy.each do |article| %>
        <li>
          <a href="<%= article.url %>"> <%= article.title %></a>
        </li>
      <% end %>
      </ul>
    </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-4">
      <ul class="articles">
      <% @civilrights.each do |article| %>
        <li>
          <a href="<%= article.url %>"> <%= article.title %></a>
        </li>
      <% end %>
      </ul>
    </section>
    <section role="tabpanel" aria-hidden="true" class="content" id="panel2-5">
      <ul class="articles">
      <% @education.each do |article| %>
        <li>
          <a href="<%= article.url %>"> <%= article.title %></a>
        </li>
      <% end %>
      </ul>
    </section>
  </div>
</div>
<<<<<<< HEAD

<%= link_to "Edit", edit_candidate_path(@candidate) %>


  <!-- <h4>HEALTHCARE:</h4>
  <ul>
  <% @healthcare.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
  <h4>GUN CONTROL:</h4>
  <ul>
  <% @guncontrol.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>ECONOMY:</h4>
  <ul>
  <% @economy.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>CIVIL RIGHTS:</h4>
  <ul>
  <% @civilrights.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br>
    <h4>EDUCATION:</h4>
  <ul>
  <% @education.each do |article| %>
    <li>
      <a href="<%= article.url %>"> <%= article.title %></a>
    </li>
  <% end %>
  </ul><br><br> -->
=======
>>>>>>> 8e64e9e66b1dab50023181a78f186e9208a04e81
